body {
    background-color: #ab346c;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(246, 237, 245);
    width: 85%;
    margin: 40px 8%; /* | dps --> */
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px rgba(218, 94, 131, 0.86);
}

.perfil {
    display: flex;
}

.text {
    font-size: 18px;
    margin: 50px 0;
}

.foto {
    width: 24vh;
    height: 24vh;
    border-radius: 100px;
    margin: 35px 90px ;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.071);
}

img {
    width: 51vh;
    height: 39vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.071);
}

h2 {
    margin: 0 44%;
    color: #fff;
}

.main-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 20px;
}

.container {
    background-color: rgb(239, 239, 239);
    margin: 50px 35px;
    padding: 15px ;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px rgba(218, 94, 131, 0.86);

}